- @title = "Dashboard"

- content_for :header, @title
= render "internal/tabs"
- content_for :sidebar, render("internal/sidebar")

.d-flex.flex-column.flex-sm-row.justify-content-around
  - if current_user.incomplete_profile?
    .dashboard-container.dashboard-container-border-accent{ style: "border-top: 1px solid #ccc;border-right: 1px solid #ccc;border-bottom: 1px solid #ccc;background-color: #f7eaed;width: 600px;max-width: 100%;" }
      .mb-3
        %strong Complete your profile
      = render "directory/profile_form", user: current_user

- @report = Report.where(archived: false).find_by(report_type: "randomizations_by_site_by_month")

.d-flex.flex-column.flex-sm-row.justify-content-between
  .dashboard-container
    - if @report
      = render "randomizations/total", report: @report
      = render "randomizations/this_month", report: @report
      = render "randomizations/top_sites", report: @report
      = render "reports/page_link", report: @report
    - else
      .mb-3
        %strong
          Welcome to the
          = ENV["website_name"]
          website!
      %p
        Quickly find
        = icon("fas", "file-alt", class: "text-primary")
        = link_to "documents", folders_path
        and
        = succeed "." do
          = icon("fas", "user-circle", class: "text-primary")
          = link_to "contact info", directory_path


  - if @featured_documents.present? || @top_documents.present? || @report
    .dashboard-container.ml-0.ml-sm-3.flex-fill
      - if @report
        = render "reports/chart", report: @report, overall: true, individual: false, single: true, data_labels: true if @report.chart?

        = render "reports/filters", report: @report

      - else
        - if @featured_documents.present?
          %div.mb-3
            %strong Featured docs
          %div.ml-3.mb-4
            - @featured_documents.each do |document|
              .small.mb-1
                .float-right.pl-2
                  = icon("far", "folder-open")
                  = link_to document.folder.name, category_folder_path(document.folder.category, document.folder), class: "link-blend"

                .nowrap.overflow-hidden
                  = render "files/icon", document: document
                  =# icon("far", "star", style: "color: #fbc02d;") if document.featured?
                  = link_to document.filename, document_download_link(document)

        - if @top_documents.present?
          %div.mb-3
            %strong Top downloads
          %div.ml-3
            - @top_documents.each do |document|
              .small.mb-1
                .float-right.pl-2
                  = icon("far", "folder-open")
                  = link_to document.folder.name, category_folder_path(document.folder.category, document.folder), class: "link-blend"

                .nowrap.overflow-hidden
                  = render "files/icon", document: document
                  =# icon("far", "star", style: "color: #fbc02d;") if document.featured?
                  = link_to document.filename, document_download_link(document)

- if @article
  .dashboard-container.dashboard-container-border-accent
    .mb-3
      .float-right
        %small.text-muted= format_date @article.publish_date
      %h4
        %span= @article.title

    = simple_markdown @article.description

- if false
  .jumbotron.jumbotron-custom-text.jumbotron-shadow-inset{ style: "position: relative;" }
    %div.text-shadow{ style: "color: #c07277;position: absolute;left: 3rem;top: calc(50% - 1.5rem);" }= icon("fas", "dna", class: "fa-2x")
    %div{ style: "position: relative;" }
      Part of the
      %strong= link_to "Slice", ENV["slice_url"]
      data network.

  .dashboard-container.text-center
    %h2.mb-5
      Welcome to the
      = ENV["website_name"]
      website!

    .jumbotron-custom-text
      .mb-3
        = icon("fas", "chart-area", class: "text-primary")
        Detailed reports

      .mb-3
        = icon("fas", "file-alt", class: "text-primary")
        Study documents

      .mb-3
        = icon("fas", "heartbeat", class: "text-primary")
        And more!

  .jumbotron.jumbotron-white.jumbotron-custom-text.jumbotron-shadow
    .display-3.d-flex.align-items-center.justify-content-center
      .d-block{ style: "font-size: 1.5rem;" }= Time.zone.now.strftime("%a")
      .d-block.mx-3= Time.zone.now.strftime("%-d")
      .d-block{ style: "font-size: 1.5rem;" }= Time.zone.now.strftime("%-b")
    = icon("far", "calendar-alt")

.jumbotron.jumbotron-custom-text.jumbotron-shadow
  = icon("far", "comments")

  = mail_to ActionMailer::Base.smtp_settings[:email], "Contact us"
  with any questions.

- if false
  - content_for :footer do
    .theme-deep-red-bg.text-center.p-5= image_tag "logos/loft-v2-logo-no-background.png", style: "max-width: 400px;width: 100%;height: auto;", class: "img-ignore-selection rounded"
