- if documents.present?
  .dashboard-container.dashboard-table{ class: current_user.editor? ? "mb-0" : nil }
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col.d-none.d-sm-table-column{ width: "1px" }
      %col
      %col.d-none.d-md-table-column
      %col.d-none.d-sm-table-column
      - if current_user.editor?
        %col{ width: "1px" }
      %thead
        %tr
          %th.d-none.d-sm-table-cell
          %th= order_to "Name", primary: "name desc", secondary: "name"
          %th.d-none.d-md-table-cell.text-center= order_to "Size", primary: "size desc", secondary: "size"
          %th.d-none.d-sm-table-cell.text-center= order_to "Uploaded", primary: "latest", secondary: "oldest"
          - if current_user.editor?
            %th.text-center Actions
      - documents.includes(folder: :category).each do |document|
        %tr{ class: document.filename == params[:file] ? "table-warning" : nil }
          %td.d-none.d-sm-table-cell
            = render "files/icon", document: document
          %td
            = link_to document.filename, document_download_link(document)
          %td.d-none.d-md-table-cell.text-center.nowrap
            %small= number_to_human_size document.byte_size
          %td.d-none.d-sm-table-cell.text-center.nowrap
            %small= document.created_at.strftime("%Y-%^b-%d")
          - if current_user.editor?
            %td.text-center.nowrap= render "layouts/edit_delete_dropdown", edit_url: edit_document_path(document), delete_url: document, delete_confirmation: "Delete #{document.filename}?"
- else
  .jumbotron.jumbotron-custom-text{ class: current_user.editor? ? "mb-0" : nil }
    = icon("fas", "clone", class: "mr-1")
    No files found.
    = link_to "Start over", folders_path if params[:search].present?
