- @title = "Edit Folder - #{@folder.name_was}"

- @theme = "default"
- content_for :header, @folder.name_was
= render "internal/tabs"
- content_for :breadcrumbs do
  %ol
    %li= link_to "docs", folders_path
    %li.breadcrumb-muted= @folder.category.slug
    %li= link_to @folder.slug_was, category_folder_path(@category, @folder)
    %li.breadcrumb-muted edit
- content_for :sidebar, render("folders/sidebar")

.dashboard-container
  = render "form", folder: @folder
