- @title = "Coordinating Centers"

- @theme = "default"
- content_for :header, @title
= render "internal/tabs"
- content_for :breadcrumbs do
  = render "layouts/per_page_breadcrumbs", per_page: 20, object_count: @sites.total_count
  %ol
    %li.breadcrumb-muted coordinating centers
- content_for :sidebar, render("directory/sidebar")

- if @sites.present?
  .dashboard-container.dashboard-table
    %table.table.table-striped.table-borderless.table-hover.table-sticky
      %col
      %col
      - if current_user.editor?
        %col{ width: "1px" }
      %thead
        %tr
          %th= order_to "Name", primary: "name"
          %th
          - if current_user.editor?
            %th.text-center Actions
      - @sites.each do |site|
        %tr
          %td= link_to site.name, site
          %td= site.center_type_name
          - if current_user.editor?
            %td.text-center.nowrap= render "layouts/edit_delete_dropdown", edit_url: edit_site_path(site), delete_url: site, delete_confirmation: "Delete #{site.name}?"
  .center-horizontally= paginate @sites, theme: "bootstrap"
- else
  .jumbotron.jumbotron-custom-text
    = icon("fas", "clone", class: "mr-1")
    No coordinating centers found.
    = link_to "Start over", coordinating_centers_path if params[:search].present?
